# Build and Release Folders
build-debug/
build-release/
build-*/
build/*
cmake-build*/*
.idea/*
examples/.idea/*
examples/build/*
examples/cmake-build*/*
# Other files and folders
.settings/
.vscode/*
*/raisimGymTorch/build/*
*/raisimGymTorch/dist/*
*/raisimGymTorch/raisim_gym_torch.egg-info/*
*/build/*
*/build-debug/*
*/*.m~
*/data/*
**/activation.raisim
data/*
**/.DS_Store
.cache/clangd/index
raisimGymTorch/.cache/clangd/index
raisimGymTorch/.venv
raisimGymTorch/raisimGymTorch/env/envs/rsg_anymal/model
raisimGymTorch/compile_commands.json
raisimUnity/linux/Screenshot
